.carousel {
    overflow: hidden;
}

.carousel .carousel-container {
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.carousel .carousel-item {
    min-width: 50%;
    /* 2 cards for width <= 1023px */
    flex-shrink: 0;
    background-color: #f3f3f3;
    padding: 20px;
    box-sizing: border-box;
    margin-right: 20px;
}

@media (min-width: 1024px) {
    .carousel .carousel-item {
        min-width: 25%;
        /* 4 cards for width > 1023px */
    }
}

.carousel .inactive {
    opacity: 0.5;
    cursor: not-allowed;
}